package com.pmi.data;

/**
 * This is a auto generated class. You can see more details from here:
 * https://github.com/ParticleMedia/schema-compiler-maven-plugin
 *
{{#doc}}
 * {{doc}}
{{/doc}}
 */
public enum {{name}} implements IndexableEnum {
{{#members}}
{{key}}({{value}}){{^-last}},{{/-last}}{{#-last}};{{/-last}}
{{/members}}

  private int value;

  {{name}}(int value) {
    this.value = value;
  }

  public int getValue() {
    return this.value;
  }
}